.header-image {
  width: 100%;
  height: 400px;
  min-height: 50%;
  background-image: url("{{site.data.images.bandeau.url}}");
  background-size: cover;
  padding: 0;
  margin: 0;
}
.header-image > .image-description {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  }
