@import url('http://fonts.googleapis.com/css?family=Open+Sans');

*{
  font-family: "Open Sans", Arial;
}

.nav-link {
font-size: 16.5px;
font-weight: 600
}

h1,h2,h3 {
  color: {{site.data.style.couleurs.secondaire}};
}
p,li,ol,ul {
  color: {{site.data.style.couleurs.noir}};
}
