@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
  font-family: "Open Sans", Arial;
  margin: 0;
  padding: 0;
}

.no-margin {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: {{site.data.style.couleurs.blanc}};
}
.nav-link {
font-size: 16.5px;
font-weight: 600
}

.dot {
  color: {{site.data.style.couleurs.secondaire}};

}

h1,h2,h3 {
  color: {{site.data.style.couleurs.secondaire}};
}
p,li,ol,ul {
  color: {{site.data.style.couleurs.noir}};
}
